{%extends "base.html"%}
{%block content%}
<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">量体裁衣，定制您的魅力</h1>
				<p class="tagline">加入IFUN，寻找您的专属设计师；加入IFUN，让您的设计灵感变现实。</p>
				<p><a class="btn btn-info btn-lg" role="button">开始定制</a> <a class="btn btn-action btn-lg" role="button">成为设计师</a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">每个人都是独一无二的个体</h2>
		<p class="text-muted">
			服饰应该按照个性差异进行设计生产<br> 
			每个人都拥有属于自己的标准身材和时尚
		</p>
	</div>
	<!-- /Intro-->
	
	<!-- container -->
	

	<!-- /container -->

	<!-- Highlights - jumbotron -->
	<div class="top-space">
		<div class="">
		        <div id="map">	
			<h3 class="text-center thin">全国各个城市和地区</h3>
                         
                        <div class="panel panel-info col-sm-5">
                          <div class="panel-body">
                            <form class="row">
                              <div class="col-sm-8">
                                <input type="text" class="form-control search" placeholder="城市或者地区">
                              </div>
                              <button type="button" class="btn btn-info btn-sm" aria-label="Left Align">Go
                              </button> 
                            </form> 
                          </div> 
                        </div><!-- /.panel -->
                        </div><!-- #map -->
		</div>
	</div>
	<!-- /Highlights -->

	
{%endblock%}
